.post-wrapper {
  margin-top: 40px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.post-body {
  padding: 20px;
  max-height: 200px;
  overflow: scroll;
}

.post-body-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-content {
  font-size: 14px;
}

.post-content p {
  margin: 20px 0;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.post-header .user {
  display: flex;
  align-items: center;
}

.post-header .user img {
  width: 24px;
  border-radius: 9999px;
}

.post-header .operation {
  font-size: 12px;
}

.post-header .operation ul li {
  display: inline-block;
}

.post-header .operation ul li:not(:last-child) {
  padding-right: 5px;
}