<div class="btn-group">
  <a data-bs-toggle="dropdown" href="#">
    <i class="bi bi-caret-down-square text-dark fs-3"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-end mt-2 py-0" style="min-width: 107px;font-size: 14px;">
    <%= link_to post_path(post), class: "dropdown-item d-flex align-items-center text-secondary border-bottom py-3", data: { turbolinks: false } do %>
      <i class="me-3 fs-4"></i>
      詳細
    <% end %>
     <% if current_user == post.user %>
      <%= link_to edit_post_path(post), class: "dropdown-item d-flex align-items-center text-secondary border-bottom py-3", data: { turbolinks: false } do %>
        <i class=" me-3 fs-4"></i>
        編集
      <% end %>
      <%= link_to post_path(post), class: "dropdown-item d-flex align-items-center text-secondary py-3", method: :delete do %>
        <i class="me-3 fs-4"></i>
        削除
      <% end %>
    <% end %>
  </div>
</div>