<p class="text-secondary fw-bold">新着記事</p>
<div class="card shadow">
  <div class="card-body p-3">
    <% @posts.each do |post| %>
      <div class="d-flex align-items-center py-1">
        <p class="card-text  fs-5"><%= link_to post.title ,post_path(post.id)%></p>
      </div>
    <% end %>
  </div>
</div>