<div class="container d-flex">
  <div class="row justify-content-between">
    <div class="col-md-7 mt-5">
      <%= render @posts %>
    </div>
     <div class="col-md-4 mt-5">
      <%= render "sidebar"%>
    </div>
 
  </div>
</div>