body {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  box-shadow: 0 0 15px #e2e6ef;
  background-color: #fff;
}

.header-title {
  color: #525fe1;
  font-size: 28px;
}

.main-content {
  flex: 1;
  margin-top: 30px;
  padding: 0 20px;
}

.content-wrapper {
  margin: 0 auto;
  width: 66%;
}

.content-wrapper h2 {
  font-size: 26px;
}

.footer {
  margin-top: 70px;
  padding: 6px;
  background: #525fe1;
}

.footer-text {
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin: 0;
}